@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Inter", sans-serif;

  --color-primary: #DB4444;
}


.slick-dots {

  bottom: 30px !important;
    position: absolute;
    
}

.slick-dots li button {

    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white !important;

}

.slick-dots li.slick-active button:before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red ;
    border: 1px solid white;
}

.slick-dots li button:before {

    color: transparent !important;
}
